input {
    background-color: aliceblue;
    border: 2px solid rgb(1, 1, 64);
    color: black;
    align-items: center;
    width: 300px;
    height: 50px;
    font-size: 1.5em;
    text-align: center;
}
.btnInput{
    display: flex;
    justify-content: center;
}